

<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Order</a>
         <a href="/pizza-orders/new">New Order</a>
      </li>
    </ul>
  </nav>
<div
class="text">
<div
class="center">
<div
class="header">
  <%= yield %>
</div>
</div>
</div>
</body>
</html>
